body.audioplayer-visible #main-container { padding-bottom: 165px }

.container { overflow: auto; }
.content,
#actions-sidebar { margin-bottom: 20px; padding-bottom: 0; }

#actions-sidebar { }
#actions-sidebar .side-nav a:hover { background: rgb(26, 109, 117, 0.25); }
#actions-sidebar .side-nav a:focus,
#actions-sidebar .side-nav a.active { background: rgb(26, 109, 117, 0.75); color: #ffffff; }

.content .vertical-table,
.content .related { margin-bottom: 2em }

@media only screen and (max-width: 640px) {
    #actions-sidebar { padding: 0; }
    #actions-sidebar .side-nav { padding-top: 0; padding-left: 7px; }
    #actions-sidebar .side-nav li { float: left; }
    #actions-sidebar .side-nav li a { padding: 7px; }
    #actions-sidebar .side-nav li.heading { clear: left; }
    #actions-sidebar .side-nav li.heading-menu { display: none; }
    #actions-sidebar .side-nav li.heading-admin { padding: 7px; }

    .top-bar .title-area { padding: 0; float: left; width: 40%; }
    .top-bar .title-area .name h1 a { width: auto; }
    .top-bar .top-bar-section { float: left; width: 60%; }
    .top-bar .top-bar-section ul { display: inline; height: auto !important; width: auto; }
    .top-bar .top-bar-section li { float: left; }
    .top-bar .top-bar-section li a { padding-left: 10px; padding-right: 10px; }

    .content { padding: 0px 14px 14px; }
    .content h3 { margin-bottom: 0; }
    .content .related h4 { margin-top: 0; margin-bottom: 5px; padding-bottom: 0; }
    .content .related table { margin-bottom: 10px; }
}


.home-login-form {
    margin: 100px auto 0;
    width: 25%;
}

.home-login-form legend { background: none; color: white; display: none; }

.home-login-form label { color: white; }

@media only screen and (max-width: 1080px) {
    .home-login-form {
        width: 50%;
    }
}
@media only screen and (max-width: 680px) {
    .home-login-form {
        width: 75%;
    }
}

.markdown { text-align: left !important; }
.markdown h1 { margin: 0 0 15px 0; padding: 0; font-size: 2.5rem; }
.markdown h2 { margin: 15px 0; padding: 0; font-size: 2.0rem; }
.markdown h3 { margin: 15px 0; padding: 0; font-size: 1.5rem; }
.markdown p { margin: 15px 0; }
.markdown pre { border: 0 none; box-shadow: none; margin: 15px 0; padding: 0; }
.markdown pre code { display: block; }
.markdown hr { display: none; }

#calendar-wrap {
    margin-bottom: 2em;
}

#calendar {

}

#external-events {
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
    margin-top: 74px;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

#external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
}

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}

.fc-view-container table {
    margin-bottom: 0; background-color: transparent;
}
.fc-view-container table thead {
    height: auto;
}
.fc-view-container table tr,
.fc-view-container table thead tr {
    border-bottom: 0 none;
}

.fc-day-number { font-weight: normal; }
.fc-bg .fc-sat,
.fc-bg .fc-sun { background-color: #f2f2f2; }
.fc-row .fc-content-skeleton td,
.fc-row .fc-helper-skeleton td { background-color: transparent; }

.fc-event.unsafed-event .fc-title::after { content: url('../img/5.gif'); }

.fc-unthemed .fc-bg .fc-today { background: #b4dbf3; }

div.message.success {
    background-color: #5da423;
    color: #FFF;
}

div.alert-box a {
    text-decoration: underline;
    color: #FFF;
}

table th,
table td { vertical-align: top; text-align: left; }

table.files { table-layout: auto; }
table.users { table-layout: auto; }
table.dates { table-layout: auto; }
table.logs { table-layout: auto; }
table.comments { table-layout: auto; }
table.locations { table-layout: auto; }
table.collections { table-layout: auto; }
table.votes { table-layout: auto; }
table.shares { table-layout: auto; }

@media only screen and (max-width: 40em) {
    .row > .no-padding-on-small { width: 100vw; margin-left: -14px; margin-right: -14px; }
    .index > .no-padding-on-small { width: 100vw; margin-left: -14px; margin-right: -14px; }
}

table.dates tr.already-passed td { text-decoration: line-through; opacity: 0.5; }


table.comments td.gravatar { width: 70px; }
table.comments td.actions { width: 100px; white-space: nowrap; }

div.dates fieldset,
div.ideas fieldset,
div.files fieldset,
div.comments fieldset,
div.votes fieldset,
div.users fieldset,
div.shares fieldset,
div.songs fieldset,
div.songsVersions fieldset,
div.collections fieldset,
div.locations fieldset { margin: 0; padding: 0; }

fieldset legend { margin-bottom: 1em }

div.dates div.related h4,
div.ideas div.related h4,
div.songs div.related h4,
div.songsVersions div.related h4,
div.collections div.related h4 { font-size: 20px; }

div.related table { table-layout: auto }
div.related table .index { width: 30px; text-align: right; }
table.vertical-table th { padding-left: 0; }
table.vertical-table td { padding-right: 0; }

table.versions { width: 100%; }
table.versions th,
table.versions td { padding: 2px 10px 2px 2px; text-align: left; }

table.related-songs .button { margin-bottom: 0; }

div.gray {
    color: #999999;
}

.hint { color: #999999; font-size: 0.8em; margin: 0 }
.form .input.error .error-message { color: #C3232D; }

table.logs td.diff { width: 50%; }
del { color: red; }
ins { color: green; text-decoration: none; }

.selectize-control.multi .selectize-input input {  }
.selectize-control.multi .item {
    display: block; width: auto;
}

.button-group-votes .button { margin-right: 3px; }

.inline-votes {}
.inline-votes .label { width: 20px; margin-right: 2px; }
.inline-votes .label.own-vote { margin-right: 15px; padding-left: 0; padding-right: 0; }

.button-group-dates .button { padding: 5px 8px; }
.button-group-dates .button.active { text-decoration: underline; }

.label.blocker { background: #555555; }
.button.blocker { background: #555555; }

.button.tiny { padding: 0.325rem 0.75rem 0.3875rem 0.75rem; }
.button.no-margin { margin: 0 }

.button.active { background: maroon }
.button.with-svg { position: relative; }
.button.with-svg svg { width: 24px; height: 24px; margin: -8px; }

.no-wrap { white-space: nowrap; }

div.dashboard > table > tbody > tr { border: 0; }
div.dashboard > table td { padding-left: 0; padding-right: 100px; }
div.dashboard > table td table { table-layout: auto; }
div.dashboard > table td table td { padding-right: 10px; }
div.dashboard > table td table td:last-child { padding-right: 0; }

#audioplayer { position: fixed; z-index: 10; width: 100%; bottom: 0; background: #eeeeee; padding: 10px; }
#audioplayer[data-file-unlocked="1"] { background: #d39898 }
#audioplayer[data-file-unlocked="1"] .button-edit { display: none }
#audioplayer[data-file-unlocked="0"] .button-save { display: none }
#audioplayer .topbar { margin-bottom: 10px; text-align: center; }
#audioplayer .waveform { }
#audioplayer .timeline { }
#audioplayer .toolbar { margin-top: 10px; display: flex; justify-content: center; }
#audioplayer .toolbar .button { padding: 5px; margin: 0 5px 0 0; }

@media only screen and (max-width: 40em) {
    div.dashboard > table > tbody > tr > td { display: block; width: 100%; padding-right: 0; padding-bottom: 20px; }

    button.small,
    .button.small {
        /* Make it .tiny on mobile */
        padding: 0.625rem 1.25rem 0.6875rem 1.25rem;
        font-size: 0.6875rem
    }

    .button { padding: 10px 10px 10px 10px; }
    .button.split { padding: 10px 40px 10px 10px; }
    .button.split span { width: 30px; }
    .button.split span:after { margin-left: -8px }
    .button.postfix { padding: 0; }

    textarea[rows="5"] { height: 50px }

    .dropzone { min-height: 40px; padding: 0; }
    .dropzone .dz-message { margin: 0.5em 0; }
}

@media print {
    a[href]:after { display: none }
    table.related-songs .button { padding: 0 }
}
